body{
    text-align: center;
    font-family: sans-serif;
}
h1{
    font-size: 90px;
    color: teal;
}
h2{
    font-size: 50px;
    color: aliceblue;
    
}
h3{
    font-size: 40px;
    color: aliceblue;
}